.monitoreo{
    position: absolute;
    top: 5%;
    left: 5%;
    right: 5%;
    bottom: 5%;
}

// .back{
//     background: linear-gradient(75deg, #00517a, rgba(255, 255, 255, 1))
// }
// .tablas{
//     background: linear-gradient(75deg, #eaecec, rgba(255, 255, 255, 1))
// }